<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="TopicCtrl">
<head>
    <title>Jadyu</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/popcorn-complete.min.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/angular.main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jadyu</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
  <!-- END NAVBAR -->
    <div class="container" ng-cloak>
        <div class="row">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="row">
            <h1>{{currentTopic.title}}</h1>
        </div>

        <div class="row">
            <div class="col-lg-10 main-video">
                <div class="flex-video widescreen">
                    <div id="video"></div>
                </div>
            </div>
            <div id="caption" class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 no-left-padding">
                Found a better video for {{currentTopic.title}}? 
                <form id="video-submit-form" class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control"> 
                    </div>
                    <div class="form-group">
                        <span collapse="isAdvanced">
                            <input type="text" placeholder="Start" class="form-control">
                            <input type="text" class="form-control" placeholder="End">
                        </span>
                    </div>
                    <button class="btn btn-default" ng-click="addAlert()">
                        Submit
                    </button> 
                    <a id="more-button" ng-show="isAdvanced===true" ng-click="isAdvanced=!isAdvanced"> 
                        Advanced
                    </a>
                </form>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>